* {
	line-height: 1.6;
	font-family: "Times New Roman";
	font-size: 12pt;
}

body {
	/*background-image: url(images/color_background.png);*/
	background-color: rgb(104, 132, 165);
	color: rgb(36,36,36);
	top: 50%;
	left: 50%;
	padding: 1em 10px 3em 10px;
}

body h1 {
	text-align: center;
	font-family: Arial;
	font-style: italic;
	font-size: 200%;
	color: rgb(205, 45, 4);
}

body h2 {
	font-family: Arial;
	font-size: 150%;
}

body label {
	font-weight: bold;
	font-size: 130%;
}

body a {
	font-size: 110%;
}

body a:hover {
	font-size: 120%;
}